<a href="https://colab.research.google.com/github/sasansharee/Sasan_MMA/blob/main/Dictionary_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# 1- Create a dictionary with 7 days. Ask the user to choose 2 different days by listing the (e.g. "12" for Monday and Tuesday).
# Delete the user-selected days from the dictionary and print the remaining 5 days on the screen.

week = {1:'Monday', 2:'Tuesday', 3:'Wednesday', 4:'Thursday', 5:'Friday', 6:'Saturday', 7:'Sunday'}
print(week)

numbers = input('PLease enter two differentb numbers between 1-7: ')
print(numbers)

first_key = numbers[0]
second_key = numbers[1]

week.pop(int(first_key))
week.pop(int(second_key))

print(week)

{1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}
PLease enter two differentb numbers between 1-7: 56
56
{1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 7: 'Sunday'}

In [7]:
# 2- Create a dictionary with the following personnel. Use names as keys.
# (Michael (age: 20)
# (Linda (age: 30)

name_dict = {'Michael':20, 'Linda':30}
print(name_dict)

{'Michael': 20, 'Linda': 30}

In [8]:
# 3- Add child information to Michael and Linda.
# Michael has two children (Karen (age : 12, female) and Greg (age : 7, male) and Linda has one child (Susan (age: 6, female))

name_dict = {'Michael': {'age':20, 'children':['Karen', 'Greg'], 'children_age':[12, 7], 'children_gender':['Female', 'Male']}, 'Linda': {'age': 30, 'children':['Susan'], 'children_age':[6], 'children_gender':['Female']}}
print(name_dict)

{'Michael': {'age': 20, 'children': ['Karen', 'Greg'], 'children_age': [12, 7], 'children_gender': ['Female', 'Male']}, 'Linda': {'age': 30, 'children': ['Susan'], 'children_age': [6], 'children_gender': ['Female']}}

In [10]:
# 4- Print the names of Michael's children in a list.

name_dict = {'Michael': {'age':20, 'children':['Karen', 'Greg'], 'children_age':[12, 7], 'children_gender':['Female', 'Male']}, 'Linda': {'age': 30, 'children':['Susan'], 'children_age':[6], 'children_gender':['Female']}}

print(name_dict['Michael']['children'])

['Karen', 'Greg']