<a href="https://colab.research.google.com/github/sasansharee/Sasan_MMA/blob/main/Pandas_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
import pandas as pd
df_ks = pd.read_csv('/content/ksprojects.csv')

In [ ]:
# 1- How many rows of data are in the DataFrame?
df_ks.shape # There are 65418 rows in the DataFrame

In [ ]:
# 2- What are the names and data types of the columns?
df_ks.info()

In [ ]:
# 3- Do any of the columns contain null values?
df_ks.isnull().sum() # usd_pledged has 745 null values

In [ ]:
# 4- Find all successful documentary projects and sort them by the amount pledged.
# Print the top 10 highest pledges.
df_ks_doc = df_ks[df_ks['category'] == 'Documentary']
df_success = df_ks_doc[df_ks_doc['state'] == 'successful']
df_success.sort_values(by = 'usd_pledged', ascending = False).head(10)

In [ ]:
# 4- Another way
df_ks[(df_ks['category'] == 'Documentary') & (df_ks['state'] == 'successful')]\
.sort_values(by = 'usd_pledged', ascending = False).head(10)

In [ ]:
# 4 - Another way
df_ks[df_ks['category'] == 'Documentary']\
    .query("state == 'successful'")\
    .sort_values(by='usd_pledged', ascending=False)\
    .head(10)

In [ ]:
# 4 - Another way
df_ks.query("category == 'Documentary' and state == 'successful'").sort_values(by='usd_pledged', ascending=False).head(10)

In [ ]:
# 5- Create a new column named average_per_backer and set its value to the total amount pledged / number of backers.
df_ks['average_per_backer'] = df_ks['usd_pledged'] / df_ks['backers']
df_ks.head(20)

In [ ]:
# 6- What happened to the rows with 0 backers? How can this be dealt with?
df_ks['average_per_backer'] = df_ks.apply(lambda row: np.inf if row['backers'] == 0 else row['usd_pledged'] / row['backers'], axis = 1)
df_ks.head(20)

In [ ]:
# 6- What happened to the rows with 0 backers? How can this be dealt with?
def average_calc(row):
  try:
    return row['usd_pledged'] / row['backers']
  except ZeroDivisionError:
    return np.inf
df_ks['average_per_backer'] = df_ks.apply(average_calc, axis =1)
df_ks.head(20)

In [ ]:
# 6- What happened to the rows with 0 backers? How can this be dealt with?
df_ks.loc[df_ks['backers'] == 0, 'average_per_backer'] = np.inf
df_ks.loc[df_ks['backers'] != 0, 'average_per_backer'] = df_ks['usd_pledged'] / df_ks['backers']
df_ks.head(20)

In [ ]:
# 6- What happened to the rows with 0 backers? How can this be dealt with?
df_ks['average_per_backer'] = np.where(df_ks['backers'] == 0, np.nan, df_ks['usd_pledged'] / df_ks['backers'])

In [ ]:
# 7- Drop all rows with 0 backers then repeat the previous exercise.
df_ks_new = df_ks[df_ks['backers'] != 0]
df_ks_new['average_per_backer'] = df_ks_new['usd_pledged'] / df_ks_new['backers']
df_ks_new.head(30)

In [ ]:
# 8- Create a DataFrame whose index is the first 10 letters of the alphabet
# and contains two more columns with first 10 prime numbers and the first 10 fibonacci numbers.
indices = 'a b c d e f g h i j'.split()
prime_numbers = []
for i in range(2,30):
  for j in range(2,i):
    if i % j == 0:
      break
  else:
    prime_numbers.append(i)

fibonacci_numbers = []
for i in range(0,10):
  if i < 2:
    fibonacci_numbers.append(i)
  else:
    fibonacci_numbers.append(fibonacci_numbers[i-1] + fibonacci_numbers[i-2])

dict_prime_fib = {'prime_numbers' : prime_numbers, 'fibonacci_numbers' : fibonacci_numbers}
df_prime_fib = pd.DataFrame(dict_prime_fib, index = indices)
df_prime_fib

arr_prime_fib = np.array([prime_numbers, fibonacci_numbers])
df_prime_fib_2 = pd.DataFrame(arr_prime_fib.T, index = indices, columns = ['Prime', 'Fibo'])
df_prime_fib_2

In [ ]:
# 9- Merge these two DataFrames into a single DataFrame: nycflights13.
# Please use the following dataset for merging purposes:
df_flight = pd.read_csv('/content/flights.csv')
df_airlines = pd.read_csv('/content/airlines.csv')
nycflights13 = pd.merge(df_flight, df_airlines, on = 'carrier', how = 'left')
nycflights13.head()

In [ ]:
# 10- Are there any missing values in this DataFrame? If so, drop them.
nycflights13.isnull().sum()
threshold = len(nycflights13) * 0.05
col_drop = nycflights13.columns[nycflights13.isnull().sum() <= threshold]
nycflights13_1 =  nycflights13.dropna(subset = col_drop)
nycflights13_1.isnull().sum()

In [78]:
# 11- Merge these two DataFrames into a single DataFrame called census.
# Please use the following dataset for merging purposes:
df_census_div = pd.read_csv('/content/census-divisions.csv')
df_pop = pd.read_csv('/content/state-populations.csv')
census = pd.merge(df_pop, df_census_div, on = 'state', how = 'left')

In [ ]:
# 12- Re-shape census so that one column contains all population measures, and another the year attributes.
census.head()
census_melt = pd.melt(census, id_vars =['state', 'region', 'division'], var_name = 'year', value_name = 'Population')

In [ ]:
# 13- Group the data by year and summarize it.
census_melt.groupby('year').describe()

In [ ]:
# 14- Group the data by region, division and year and summarize it.
census_melt.groupby(['region', 'division', 'year']).describe()

In [93]:
# 15- Create a crosstab between state and category showing amount pledged as the value.
# Please refer to the following link for this practice:
df_ks_pro = pd.read_csv('/content/ksprojects (1).csv')
df_crosstab = pd.crosstab(df_ks_pro['state'], df_ks_pro['category'], values = df_ks_pro['usd_pledged'], aggfunc = 'sum')
df_crosstab

category,3D Printing,Academic,Accessories,Action,Animals,Animation,Anthologies,Apparel,Apps,Architecture,...,Wearables,Weaving,Web,Webcomics,Webseries,Woodworking,Workshops,World Music,Young Adult,Zines
state,,,,,,,,,,,,,,,,,,,,,
canceled,9.926480e+04,4152.45800,1.219638e+05,13413.619000,0.000000,5.743998e+04,4581.86113,9.038852e+04,114503.381294,12412.13600,...,2.126088e+05,158.06874,88768.624714,5.617000e+03,5.419306e+04,153.010000,NaN,15142.510000,713.107300,6940.000
failed,3.182202e+05,79895.73553,2.617623e+05,81820.666880,14025.818316,4.655484e+05,15346.22450,3.604085e+05,418305.587184,146564.78821,...,5.336023e+05,6741.58323,320388.654186,2.673439e+04,9.388425e+05,34672.514772,2364.14984,121624.734257,18191.943687,17443.525
live,4.540540e+03,12.51820,7.904410e+03,0.752403,NaN,4.937077e+02,572.08450,5.139040e+04,7984.390230,396.72040,...,1.116983e+04,NaN,2525.206490,3.968800e+04,0.000000e+00,380.000000,0.00000,282.977400,266.001000,80.000
successful,8.095148e+06,345302.88929,1.995300e+06,218053.552000,93671.235000,2.490226e+06,767299.12000,5.380367e+06,608409.799000,320562.91100,...,5.815475e+06,5634.13000,877821.752000,1.087223e+06,3.758931e+06,219834.361000,16907.58000,983517.405000,111885.387000,43615.384
suspended,1.157608e+04,253.30890,3.773542e+03,NaN,0.000000,0.000000e+00,NaN,5.621300e+04,12989.567840,131.00000,...,7.801000e+03,0.00000,0.000000,NaN,1.487800e+04,79.979800,0.00000,37.000000,NaN,NaN
undefined,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN